!!!
%html
  %head
    %title Search test app
    = stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track': 'reload'
    = yield :css

    %link{href: '/favicon.ico', rel: 'icon', type: 'image/x-icon'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}/

    = csrf_meta_tags
    = csp_meta_tag

  %body.bg-light.d-flex.flex-column.justify-content-center
    .container= yield

  = yield :js
